<div id="yoast_panel">

    {% comment %} Panel Form {% endcomment %}

    {% if self.panel.keywords_hidden %}
        <div class="w-form-width w-field__wrapper">
            <h2 class="w-panel__heading w-panel__heading--label">
                <span data-panel-heading-text=""> Evaluation comments </span>
            </h2>
        {{ self.keywords_field }}
        </div>
    {% else %}
        {% include 'wagtailadmin/panels/object_list.html' %}
    {% endif %}

    {% comment %} Pass YoastPanel fields to javascript {% endcomment %}

    <div id="yoast_title" data-field="{{ self.panel.title_field }}"></div>
    <div id="yoast_search_description" data-field="{{ self.panel.search_description }}"></div>
    <div id="yoast_slug" data-field="{{ self.panel.slug }}"></div>
    <div id="yoast_hide_results" data-field="{{ self.panel.hide_results_json }}"></div>
    <div id="yoast_debug" data-field="{% if self.panel.debug %}true{% else %}false{% endif %}"></div>

    {% comment %} Include results of Yoast {% endcomment %}
    <div class="yoast_curtom_buttions">
        <button id="yoast_recalculate" type="button" class="button button-small button-secondary">Recalculate</button>
    </div>
    <div id="yoast_results" class="yoast-results">
        {% include 'wagtailyoast/edit_handlers/yoast_list.html' with list_title="SEO" list_id="results_seo" %}
        {% include 'wagtailyoast/edit_handlers/yoast_list.html' with list_title="Readability" list_id="results_readability" %}
    </div>

</div>
