#yoast_panel {

  .yoast-results {
    padding: 1.25rem 1.25rem 0 1.25rem;
    border: solid thin #5c5c5c;
    border-radius: 5px;
    width: calc(100% - 370px); /* Adjust for preview iframe width */
  }

  #yoast_results_readability, #yoast_results_seo {
    margin-bottom: 20px;
    display: inline-block;
  }

  .title-wrapper {
    margin-bottom: 15px;
    border-bottom: solid thin #797979;
  }

  .title-wrapper label {
    display: inline-block;
    padding-bottom: 3px;
    font-size: 18px;
    font-weight: bold;
  }

  .icon {
    display: inline-block;
    height: 12px;
    width: 12px;
    margin-right: 5px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .icon-cross {
    background-image: url('../images/cross-icon.svg');
  }

  .icon-tick {
    background-image: url('../images/tick-green-icon.svg');
  }

  li {
    margin-bottom: 12px;
  }
}
